﻿@{
    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;
}

<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <link rel="manifest" href="~/Content/manifest.json">
    <link rel="icon" type="image/png" href="~/Content/img/icon-192x192.png">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/js")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/Content/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/pt-BR.js"></script>

    @if (Session["auth"] != null)
    {
        if (((PowerOne.Models.Login)Session["auth"]).Tema != null)
        {
            if (((PowerOne.Models.Login)Session["auth"]).Tema.Color != null)
            {
                <link rel="stylesheet" type="text/css" href="~/Content/var-css/@(((PowerOne.Models.Login)Session["auth"]).Tema.Color.ToString()).css">
            }
            else
            {
                <link rel="stylesheet" type="text/css" href="~/Content/var-css/BLACK.css">
            }

        }
        else
        {
            <link rel="stylesheet" type="text/css" href="~/Content/var-css/BLACK.css">
        }
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="~/Content/var-css/BLACK.css">
    }

</head>
<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="border-right" id="sidebar-wrapper">
            <div class="sidebar-heading list-group">
                <a href="~/">
                    <img class="m-auto col-10 py-3" src="~/Content/img/logo-company.png" />
                </a>
            </div>
            <div class="list-group list-group-flush">
                <div class="accordion" id="sidebar">

                    @if (
                        (((PowerOne.Models.Login)Session["auth"]).Autorizacoes.ReqEstoque != "N" || ((PowerOne.Models.Login)Session["auth"]).Autorizacoes.Grupo.ReqEstoque != "N")
                        ||
                        (((PowerOne.Models.Login)Session["auth"]).Autorizacoes.CriarReqEstoque != "N" || ((PowerOne.Models.Login)Session["auth"]).Autorizacoes.Grupo.CriarReqEstoque != "N")
                        )
                    {
                        @Html.ActionLink("Estoque", "Estoque", "Home", null, new { @class = "list-group-item list-group-item-action" })
                    }

                    @if (
                        (((PowerOne.Models.Login)Session["auth"]).Autorizacoes.Almoxarifado != "N" || ((PowerOne.Models.Login)Session["auth"]).Autorizacoes.Grupo.Almoxarifado != "N")
                        )
                    {
                        @Html.ActionLink("Almoxarifado", "Almoxarifado", "Home", null, new { @class = "list-group-item list-group-item-action" })
                    }
                    @Html.ActionLink("Configurações", "Configuracoes", "Home", null, new { @class = "list-group-item list-group-item-action" })
                    @Html.ActionLink("Sair", "Logout", "Login", null, new { @class = "list-group-item list-group-item-action" })

                </div>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="row">
                <div class="col-10 d-inline">
                    <button class="btn m-3 " id="menu-toggle">
                        <span>&#9776;</span>
                    </button>
                </div>
            </div>

            <div class="container-fluid">
                @if (String.IsNullOrEmpty(ViewBag.Title))
                {
                    <label class="ml-2 voltarLayout d-inline " onclick="window.history.go(-1);">/ Voltar </label>
                }
                @RenderBody()

            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Global site tag (gtag.js) - Google Analytics -->
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-178729722-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-178729722-1');
        </script>*@


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="scripts.js"></script>
    @*<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>*@

    <script src="~/Content/main.js"></script>

    @RenderSection("scripts", required: false)

    <script>

        // Define o intervalo de duração na tela de todos as alertas do Portal
        $(function () {
            setTimeout(function () {
                $('.alert').hide();
            }, 4000);
        });



        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $("#checkTodos").change(function () {
            $("input:checkbox.cbx-billmessage").prop('checked', $(this).prop("checked"));
        });

        $("#checkTodos").change(function () {
            $("input:checkbox.cbx-reqestoque").prop('checked', $(this).prop("checked"));
        });

        $('#nav-anexos-tab').click(function () {
            $('#form_anexo').show();
            $('#form_item').hide();
            $('#div_processo').hide();
        });

        $('#nav-itens-tab').click(function () {
            $('#form_anexo').hide();
            $('#div_processo').hide();
            $('#form_item').show();
        });

        $('#nav-processo-tab').click(function () {
            $('#div_processo').show();
            $('#form_anexo').hide();
            $('#form_item').hide();
        });

        //var editor = new MediumEditor('.editable', {
        //    imageDragging: false,
        //    toolbar: {
        //        buttons: [
        //            'bold',
        //            'italic',
        //            'underline',
        //            'strikethrough',
        //            'anchor',
        //            'orderedlist',
        //            'unorderedlist',
        //            'indent',
        //            'outdent',
        //            'justifyLeft',
        //            'justifyCenter',
        //            'justifyRight',
        //            'justifyFull',
        //            'h1',
        //            'h2',
        //            'h3',
        //            'h4',
        //            'h5',
        //            'h6',
        //            'removeFormat',
        //            'html '
        //        ]
        //    }
        //});

    </script>
</body>
</html>
