﻿<html>
<head>
    <link rel="icon" type="image/png" href="~/Content/img/icon-192x192.png">
    <meta name="viewport" content="width=device-width" />
    <title>Login - Portal Unificado</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-body-login">
    <main class="container-fluid">
        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
