﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <div class="m-auto row col-12">
        <div class="col-6 m-auto">
            <img src="~/Content/img/LP_DowntimePage.gif" alt="Alternate Text" style="height:60vh;" />
        </div>
        <div class="col-6 m-auto">
            <h2 class="ml-0">Ops algo deu errado.</h2>
            <h2 class="ml-0">Essa funcionalidade apresentou alguma anormalidade, acesse o sistema novamente.</h2>
            <hr />
            <small class="row ml-0"> Caso esta mensagem persista, contacte os desenvolvedores para uma melhor análise</small>
            <button class="form-group btn col-4 p-2 btn-outline-primary ml-0 mt-3" onclick="window.history.go(-1);">  Voltar  </button>
        </div>
    </div>
</body>
</html>