﻿@model  Models.Estoque.RequerimentoEstoque
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;

    PowerOne.Models.ConfDocumento configs = (PowerOne.Models.ConfDocumento)TempData["config"];

    List<Models.Deposito> deposito = (List<Models.Deposito>)TempData["depositos"];

    List<Models.ItemEstoque> itens = (List<Models.ItemEstoque>)TempData["itens"];

    List<PowerOne.Models.CentroCusto> ctCustos = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto"];
    List<PowerOne.Models.CentroCusto> ctCustos2 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto2"];
    List<PowerOne.Models.CentroCusto> ctCustos3 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto3"];
    List<PowerOne.Models.CentroCusto> ctCustos4 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto4"];
    List<PowerOne.Models.CentroCusto> ctCustos5 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto5"];

    int Quant = 0;
}

<h1 class="col-12 text-center">Detalhes da Requisição</h1>
<hr />

<div class="alert col-10 mx-auto alert-hide" role="alert" id="alert"></div>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success col-10 mx-auto my-2" role="alert">
        @TempData["Success"].ToString()
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger col-10 mx-auto" role="alert">
        @TempData["Error"].ToString()
    </div>
}

@Html.AntiForgeryToken()
@Html.HiddenFor(id => Model.DocEntry)
@Html.HiddenFor(Bp_ID => Model.U_P1_IDFILIAL)

<div class="card col-10 mx-auto bg-light p-0">
    <div class="card-header p-4">
        <div class="row">
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DocNum):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.DocNum)" readonly />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">Empresa:</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.U_P1_NOMEFILIAL)" readonly />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">Requisitante:</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Model.U_P1_Owner.Replace("."," ")" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.U_P1_STATUS):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.U_P1_STATUS)" readonly />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.U_P1_DTLANC):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@(DateTime.Parse(Model.U_P1_DTLANC).ToString("dd/MM/yyyy"))" readonly />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-0 scroll max-height-500">
        @if (Model.P1_IGE1Collection.Count == 0)
        {
            <h2 class="text-center"> Não Foram encontrados itens nessa Requisição de Estoque</h2>
        }
        else
        {
            <table class="table table-striped col-md-12 m-auto">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Código</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Quantidade Solicitada</th>
                        <th scope="col">Und. Medida</th>
                        <th scope="col">Estoque</th>
                        <th scope="col" colspan="2"> Editar</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.P1_IGE1Collection)
                    {
                        Quant++;
                        <fieldset @if (item.U_P1_StatusLinha == "C") { Html.Raw("disabled"); }>
                            <tr class="tr" id="trExibe@(item.LineId)">
                                <td>@(item.LineId)</td>
                                <td class="CodigoItem">
                                    <span class="td-table-form">@Html.DisplayFor(model => item.U_P1_ItemCode)</span>
                                </td>
                                <td class="DecricaoItem">
                                    <span class="td-table-form">@Html.DisplayFor(model => item.U_P1_DescItem)</span>
                                </td>
                                <td class="Quantidade">
                                    <span class="td-table-form">@Math.Round(Double.Parse(item.U_P1_Quantity), 2)</span>
                                </td>
                                <td class="UndItem">
                                    <span class="td-table-form">@Html.DisplayFor(model => item.U_P1_UndMedida)</span>
                                </td>
                                <td class="CodigoDeposito">
                                    <span class="td-table-form d-none">@Html.DisplayFor(model => item.U_P1_WhsCode)</span>
                                    <span class="td-table-form">@Html.DisplayFor(model => item.U_P1_WhsName)</span>
                                    <select name="Deposito" class="visible-false input-table-form form-control" id="Deposito">
                                    </select>
                                </td>
                                @if (Model.U_P1_STATUS == "Aprovada")
                                {
                                    <td colspan="2">
                                        <button type="button" class="input-table-form btn btn-primary" onclick="editarLinha(@(item.LineId));" @if (item.U_P1_StatusLinha == "C") { @("disabled=\"true\"") ; }>Editar</button>
                                    </td>
                                }
                                else
                                {
                                    <td colspan="2">
                                        <button type="button" class="input-table-form btn btn-primary" onclick="editarLinha(@(item.LineId));" @if (item.U_P1_StatusLinha == "C") { @("disabled=\"true\"") ; } disabled>Editar</button>
                                    </td>
                                }
                            </tr>
                        </fieldset>

                        <form action="~/Estoque/Edit" method="post">
                            <tr id="trEdit@(item.LineId)" class="d-none m-auto">
                                <input type="number" name="LineId" class="d-none" value="@(item.LineId)" />
                                <input type="number" name="DocEntry" class="d-none" value="@(Model.DocEntry)" />
                                <input type="text" name="tipo" class="d-none" value="1" />
                                <input type="text" name="filial" class="d-none" value="@(Model.U_P1_IDFILIAL)" />
                                <td class="CodigoItem ">
                                    <span>@(item.LineId)</span>
                                </td>
                                <td class="CodigoItem">
                                    <input type="text" class="form-control td-table-form" name="U_P1_ItemCode" value="@item.U_P1_ItemCode" readonly />
                                </td>
                                <td class="DecricaoItem">
                                    <input type="text" class="form-control td-table-form" name="U_P1_DescItem" value="@item.U_P1_DescItem" readonly />
                                </td>
                                <td class="Quantidade">
                                    <input type="text" class="form-control td-table-form" name="U_P1_Quantity" placeholder="@item.U_P1_Quantity" onkeypress='return SomenteNumero(event, this)' />
                                </td>
                                <td class="UndItem">
                                    <input type="text" class="form-control td-table-form" name="U_P1_DescItem" value="@item.U_P1_UndMedida" readonly />
                                </td>
                                <td class="CodigoDeposito">
                                    <select name="U_P1_WhsCode" class="input-table-form form-control td-table-form" id="Deposito">
                                        @foreach (var dep in deposito)
                                        {
                                            if (dep.WhsCode == item.U_P1_WhsCode)
                                            {
                                                <option value="@dep.WhsCode" selected>@dep.WhsCode - @dep.WhsName</option>
                                            }
                                            else
                                            {
                                                <option value="@dep.WhsCode">@dep.WhsCode - @dep.WhsName</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td colspan="2">
                                    <button type="submit" class="input-table-form btn btn-success">Salvar</button>
                                    <button type="button" class="input-table-form btn btn-outline-danger" onclick="cancelEdit(@(item.LineId))">Cancelar</button>
                                </td>
                            </tr>
                        </form>
                    }
                    <tr id="AddLinha" class="d-none">
                        <form action="~/Estoque/Edit" method="post">
                            <td>
                                <input type="number" class="d-none" name="DocEntry" value="@Model.DocEntry" />
                                <input type="number" class="d-none" name="filial" value="@Model.U_P1_IDFILIAL" />
                                <input type="number" class="d-none" name="tipo" value="0" />
                                <input type="number" class="d-none" name="LineId" value="@(Quant+1)" />
                                <span>@(Quant+1)</span>
                            </td>
                            <td>
                                <select id="U_P1_ItemCode" name="U_P1_ItemCode" style="width: 100%;" class="js-example-basic-single js-states form-control" onchange="insereItemCode()">
                                    <option value="" disabled selected>-</option>
                                    @foreach (var item in itens)
                                    {
                                        <option value="@item.ItemCode">@(item.ItemCode + " - " +item.ItemName)</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="text" id="U_P1_DescItem" name="U_P1_DescItem" class="form-control" readonly />
                            </td>
                            <td>
                                <input inputmode="numeric" name="U_P1_Quantity" type="tel" id="U_P1_Quantity" max="14" class="form-control" onkeypress='return SomenteNumero(event, this)' />
                            </td>
                            <td>
                                <input type="text" id="U_P1_UndMedida" name="U_P1_UndMedida" class="form-control" readonly />
                            </td>
                            <td>
                                <select class="form-control" name="U_P1_WhsCode">
                                    <option selected disabled></option>
                                    @foreach (var item in deposito)
                                    {
                                        <option value="@item.WhsCode">@item.WhsName</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success">Adicionar</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
        }
    </div>

    @if (autorizacoes.ReqEstoque != "R")
    {
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10 m-auto">
                            <div class="form-group">
                                <label>Observações:</label>
                                <textarea class="form-control" name="observacoes"></textarea>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3 m-auto">
                                    <div class="row p-2">
                                        <form action="~/Aprovacao/Fechar" method="post" class="col">
                                            <input class="d-none" type="text" name="DocEntry" value="@Model.DocEntry" />
                                            @if (Model.U_P1_STATUS != "Aberta")
                                            {
                                                <button class="btn btn-danger col-md-12" disabled>Fechar</button>
                                            }
                                            else
                                            {
                                                <button type="submit" id="fechar" class="btn btn-outline-danger btn-block col-md-12" data-toggle="modal" data-target="#confirmar@(+ Model.DocEntry)">
                                                    Fechar
                                                </button>
                                            }

                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row p-2 ">
                                        @if (Model.U_P1_STATUS != "Aberta")
                                        {
                                            <button type="submit" class="btn btn-success col-md-12" disabled>Aprovar</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-success col-md-12" id="aprova">Aprovar</button>
                                        }
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row p-2 ">
                                        @if (Model.U_P1_STATUS != "Aberta")
                                        {
                                            <button type="submit" class="btn btn-success col-md-12" disabled>Adicionar linha</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-success col-md-12" id="aprova" onclick="AddLinha();">Adicionar linha</button>
                                        }
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row p-2 col">
                                        @if (Model.U_P1_STATUS != "Aberta")
                                        {
                                            @Html.ActionLink("Voltar", "Index", "Estoque", new { Tipo = '1' }, new { @class = "btn btn-outline-primary col-md-12" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Voltar", "Index", "Estoque", new { Tipo = '0' }, new { @class = "btn btn-outline-primary col-md-12" })
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>


@foreach (var item in Model.P1_IGE1Collection)
{
    <div class="modal fade" id="confirmar@(+item.DocEntry)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title col-12" id="exampleModalLabel">Confirmação do Documento @(+item.DocEntry)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    Você tem certeza que deseja cancelar esse <strong>Requerimento de Estoque</strong>
                    <br />Essa ação altera o STATUS do documento de Aberto para <strong>Fechado</strong>
                </div>
                <div class="modal-footer">
                    <form action="~/RequerimentoEstoque/FecharRequerimento" method="post">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => item.DocEntry, new { Name = "DocEntry" })
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não, Voltar</button>
                        @Html.ActionLink("Sim, Desejo fechar o Documento", "Fechar", "RequerimentoEstoque", new { DocEntry = item.DocEntry }, new { @class = "btn btn-danger " })
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{

    <script src="~/Content/scripts/selects.js"></script>

    <script src="~/Content/scripts/formInTableLine.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" integrity="sha512-kq3FES+RuuGoBW3a9R2ELYKRywUEQv0wvPTItv3DSGqjpbNtGWVdvT8qwdKkqvPzT93jp8tSF4+oN4IeTEIlQA==" crossorigin="anonymous" />


    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });

        function insereItemCode() {
            $('#U_P1_DescItem').val($("#U_P1_ItemCode option:selected").val());
        }

        function editarLinha(idLinha) {
            $('#trEdit' + idLinha).removeClass('d-none');
            $('#trExibe' + idLinha).addClass('d-none');
        }
        function cancelEdit(idLinha) {
            $('#trEdit' + idLinha).addClass('d-none');
            $('#trExibe' + idLinha).removeClass('d-none');
        }
        function disabledAprovar() {
            if ($("#aprova").prop('disabled', false)) {
                $("#aprova").prop('disabled', true)
                $("#fechar").prop('disabled', true)
            } else {
                $("#aprova").prop('disabled', false)
                $("#fechar").prop('disabled', false)
            }
        }

        function Editar(elemento) {

            var linha = {};

            let linhaTabela = jQuery(elemento).parent().parent();
            let DocEntry = jQuery(jQuery(linhaTabela).find('td.Check')).find('#DocEntry').val();
            let IdLinha = jQuery(jQuery(linhaTabela).find('td.Check')).find('#IdLinha').val();

            let Quantidade = jQuery(jQuery(linhaTabela).find('td.Quantidade')).find('.Quantidade').val();
            let CodigoDeposito = jQuery(jQuery(linhaTabela).find('td.CodigoDeposito')).find('#Deposito').val();

            let OcrCode = jQuery(jQuery(linhaTabela).find('td.OcrCode')).find('#OcrCode').val();
            let OcrCode2 = jQuery(jQuery(linhaTabela).find('td.OcrCode2')).find('#OcrCode2').val();
            let OcrCode3 = jQuery(jQuery(linhaTabela).find('td.OcrCode3')).find('#OcrCode3').val();
            let OcrCode4 = jQuery(jQuery(linhaTabela).find('td.OcrCode4')).find('#OcrCode4').val();
            let OcrCode5 = jQuery(jQuery(linhaTabela).find('td.OcrCode5')).find('#OcrCode5').val();

            let Projeto = jQuery(jQuery(linhaTabela).find('td.Projeto')).find('#idProjeto').val();


            linha.DocEntry = DocEntry;
            linha.IdLinha = IdLinha;

            linha.Quantidade = Quantidade;
            linha.CodigoDeposito = CodigoDeposito;

            linha.OcrCode = OcrCode;
            linha.OcrCode2 = OcrCode2;
            linha.OcrCode3 = OcrCode3;
            linha.OcrCode4 = OcrCode4;
            linha.OcrCode5 = OcrCode5;

            console.log(linha);

            var VerProj = Projeto.length;
            if (VerProj != 0) {
                linha.Projeto = Projeto;
            }

            $.ajax({
                url: '/RequerimentoEstoque/AlterarLinha',
                type: 'post',
                dataType: 'json',
                data: {
                    'requerimentoLinha': linha,
                },
                success: function (data) {
                    if (data.type == 'error') {
                        $('#alert').text(data.msg);
                        $('#alert').removeClass('alert-hide');
                        $('#alert').addClass('alert-danger');
                    } else {
                        $('#alert').text(data.msg);
                        $('#alert').removeClass('alert-hide');
                        $('#alert').removeClass('alert-danger');
                        $('#alert').addClass('alert-success');

                        setTimeout(function () { location.reload(true); }, 1000);
                        window.scroll(0, 0);
                    }
                },
                error: function () {
                    alert("Erro ao enviar os dados.");
                }
            });
        }

        function AddLinha() {
            $('#AddLinha').removeClass('d-none');
        }

    </script>
}