﻿@{
    List<Models.Estoque.RequerimentoEstoque> requerimentos = (List<Models.Estoque.RequerimentoEstoque>)TempData["requerimentos"];
    Layout = "~/Views/Shared/_Layout.cshtml";

    string diretorio = ((PowerOne.Models.Login)Session["auth"]).Tema.Icon;
    string tipo = TempData["tipo"].ToString();
    if (String.IsNullOrEmpty(diretorio))
    {
        diretorio = "PRO";
    }
    int quant = 0;

}

<h1 class="col-12 text-center m-auto mb-4">
    Lista das Solicitações
    @if (tipo == "3")
    {
        @("Aprovadas".ToString())
    }
    else if (tipo == "4")
    {
        @("Em Curso".ToString())
    }
    else
    {
        @("Concluídas".ToString())
    }
</h1>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success col-10 mx-auto my-2" role="alert">
        @TempData["Success"].ToString()
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger col-10 mx-auto" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="row mt-4">
    <div class="col-10 mx-auto p-0">
        <div class="card p-0">
            <div class="card-header">
                <form action="~/Almoxarifado/index">
                    <div class="row m-auto">
                        <input type="text" name="tipo" class="d-none" value="@tipo" />
                        <p class="mt-3">De:</p>
                        <div class="col m-2">
                            <input type="date" class="form-control" name="dtInicio" />
                        </div>
                        <p class="mt-3">Até:</p>
                        <div class="col m-2">
                            <input type="date" class="form-control col" name="dtFim" />
                        </div>

                        <div class="col m-2">
                            <input class="form-control" type='search' id='txt_searchall' placeholder='Digite..'>&nbsp;
                        </div>

                        <div class="col m-2">
                            <button type="submit" class="btn btn-block btn-success" name="name" value="">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body scroll max-height-500 p-0">
                <table class="col-12 table table-striped mx-auto" id="tabelaIndex">
                    <thead class="text-white">
                        <tr>
                            <th>
                                Visualizar
                            </th>
                            @if (tipo != "5")
                            {
                                <th>
                                    Aprovar
                                </th>
                            }
                            else
                            {
                                <th>
                                    Concluir
                                </th>
                            }
                            <th>
                                Nº Documento
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Solicitante
                            </th>
                            <th>
                                Data
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            quant = requerimentos.Count();
                        }
                        catch (Exception)
                        {
                            <tr>
                                <td colspan="6">
                                    <p> Sem registros </p>
                                </td>
                            </tr>
                        }
                        @if (quant == 0)
                        {
                        }
                        else
                        {
                            foreach (var item in requerimentos)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink("arrow_forward", "Details", "Almoxarifado", new { DocEntry = item.DocEntry }, new { @class = "btn btn-outline-dark material-icons" })
                                    </td>
                                    <td>
                                        @if (item.U_P1_STATUS != "Concluído")
                                        {
                                            <button type="button" class="btn btn-success material-icons" data-toggle="modal" data-target="#modalList@(item.DocEntry)">check</button>

                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-secondary material-icons" disabled>check</button>
                                        }
                                    </td>
                                    <td>
                                        @item.DocNum
                                    </td>
                                    <td>
                                        @item.U_P1_STATUS
                                    </td>
                                    <td>
                                        @item.U_P1_Owner.Replace(".", " ")
                                    </td>
                                    <td>
                                        @DateTime.Parse(item.U_P1_DTLANC).ToString("dd/MM/yyyy")
                                    </td>
                                </tr>
                                <form action="~/Almoxarifado/AtualizaReqAlmoxarifado?Tipo=@tipo" method="POST">
                                    <input type="number" class="d-none" name="DocEntry" value="@item.DocEntry" />
                                    <div class="modal fade" id="modalList@(item.DocEntry)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Prosseguir Solicitação para proxima etapa</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Deseja seguir a solicitação @item.DocEntry para a etapa
                                                    @if (tipo == "5")
                                                    {
                                                        @(("Aprovar").ToString());
                                                    }
                                                    else if (tipo == "4")
                                                    {
                                                        @(("Concluído").ToString());
                                                    }
                                                    else
                                                    {
                                                        @(("Em Curso").ToString());
                                                    }
                                                    ,a solicitação foi criada por @item.U_P1_Owner.Replace(".", " ") em @DateTime.Parse(item.U_P1_DTLANC).ToString("dd/MM/yyyy").
                                                </div>
                                                <div class="modal-footer">
                                                    @*//O - Aberto
                                                        //A - Aprovada
                                                        //P - Em Curso
                                                        //R - Aguardando Retirada
                                                        //Y - Concluido
                                                        //C - Cancelada*@
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                                                    @if (tipo == "5")
                                                    {
                                                        if (item.U_P1_STATUS == "Aguardando Retirada")
                                                        {
                                                            @Html.ActionLink("Concluir Solicitação", "AtualizaReqAlmoxarifado", "Almoxarifado", new { DocEntry = item.DocEntry, Tipo = tipo, Status = "Y" }, new { @class = "btn btn-primary " })
                                                        }
                                                    }
                                                    else if (tipo == "3")
                                                    {
                                                        @Html.ActionLink("Prosseguir para Em Curso", "AtualizaReqAlmoxarifado", "Almoxarifado", new { DocEntry = item.DocEntry, Tipo = tipo, Status = "P" }, new { @class = "btn btn-primary " })
                                                    }
                                                    else if (tipo == "4")
                                                    {
                                                        @Html.ActionLink("Prosseguir para Aguardando Retirada", "AtualizaReqAlmoxarifado", "Almoxarifado", new { DocEntry = item.DocEntry, Tipo = tipo, Status = "R" }, new { @class = "btn btn-primary " })
                                                    }

                                                    @Html.ActionLink("Cancelar Documento", "AtualizaReqAlmoxarifado", "Almoxarifado", new { DocEntry = item.DocEntry, Tipo = tipo, Status = "C" }, new { @class = "btn btn-outline-danger " })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-dataTable.css">
    <script>
        $(document).ready(function () {
            $("#txt_searchall").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });


        $(document).ready(function () {
            $('#tabelaIndex').DataTable({
                "columnDefs": [{ "targets": [0], "orderable": false }],
                "order": [3, 'asc'],
                "info": false,
                "paging": false,
                "searching": false,
                "language": {
                    "lengthMenu": "Display _MENU_ records per page",
                    "zeroRecords": "Nada encontrado",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "Nenhum dado encontrado",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }
            });
        });

    </script>
}