﻿@{
    List<Models.Estoque.RequerimentoEstoque> requerimentos = (List<Models.Estoque.RequerimentoEstoque>)TempData["requerimentos"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    int contagem = 0;
}
<div class="row m-auto">
    <h1 class="mb-2 m-auto">Lista das Solicitações de Materiais sob Aprovação</h1>
</div>
<hr />
@if (TempData["Success"] != null)
{
    <div class="alert alert-success col-10 mx-auto my-2" role="alert">
        @TempData["Success"].ToString()
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger col-10 mx-auto" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="card col mx-auto bg-light p-0">
    <div class="card-header">
        <p>Data de Lançamento</p>
        <form action="~/Aprovacao/Index">
            <div class="row">
                <div class="col-md-3 form-group col-sm-12">
                    <label>De:</label>
                    <input type="date" class="form-control" name="dtInicio" />
                </div>
                <div class="col-md-3 form-group col-sm-12">
                    <label>Até:</label>
                    <input type="date" class="form-control" name="dtFim" />
                </div>
                <div class="col-md-3 form-group col-sm-12">
                    <label>Pesquisar:</label>
                    <input class="form-control" type='search' id='txt_searchall' placeholder='Digite..'>&nbsp;
                </div>
                <div class="col-md-3 form-group col-sm-12">
                    <div class="row">
                        <label class="col-12"><br /></label>
                        <button type="submit" class="btn btn-outline-success col-md-12"><i class="material-icons">search</i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body p-0 scroll max-height-500">
        <table class="table table-striped col-md-12 m-auto">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Visualizar</th>
                    <th scope="col">Ação</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data da Solicitação</th>
                    <th scope="col">Requisitante</th>
                </tr>
            </thead>
            <tbody>
                @try
                {
                    contagem = requerimentos.Count();
                }
                catch (Exception)
                {
                    <tr>
                        <td colspan="6">
                            <p> Sem registros </p>
                        </td>
                    </tr>
                }
                @if (contagem == 0)
                {

                }
                else
                {
                    foreach (var item in requerimentos)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("arrow_forward", "Details", "Estoque", new { DocEntry = item.DocEntry, Filial = item.U_P1_IDFILIAL }, new { @class = "btn btn-outline-dark material-icons" })
                            </td>
                            <td>
                                <button type="submit" class="material-icons btn btn-success" data-toggle="modal" data-target="#exampleModal@(item.DocEntry)">
                                    thumb_up
                                </button>
                            </td>
                            <td>@(item.U_P1_STATUS)</td>
                            <td>@(DateTime.Parse(item.U_P1_DTLANC).ToString("dd/MM/yyyy"))</td>
                            <td>@(item.U_P1_Owner)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@foreach (var item in requerimentos)
{
    <form action="~/Aprovacao/Aprovar" method="post">
        <input type="text" class="d-none" name="DocEntry" value="@item.DocEntry" />
        <div class="modal fade" id="exampleModal@(item.DocEntry)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Aprovar o seguinte documento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Deseja Aprovar a solciitação numero @(item.DocEntry), criada por @(item.U_P1_Owner.Replace("."," ")) em @(DateTime.Parse(item.U_P1_DTLANC).ToString("dd/MM/yyyy"))
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Aprovar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}