﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    PowerOne.Models.ConfDocumento configs = (PowerOne.Models.ConfDocumento)TempData["config"];

    List<Models.ItemEstoque>
        itens = (List<Models.ItemEstoque>)TempData["ItensEstoque"];
    List<Models.Filiais>
        filiais = (List<Models.Filiais>)TempData["filiais"];

    List<Models.Projetos>
        projetos = (List<Models.Projetos>)TempData["projetos"];

    //PowerOne.Models.Projetos visivel = (PowerOne.Models.Projetos)TempData["visivel"];

    List<PowerOne.Models.CentroCusto> ctCustos = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto"];
    List<PowerOne.Models.CentroCusto> ctCustos2 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto2"];
    List<PowerOne.Models.CentroCusto> ctCustos3 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto3"];
    List<PowerOne.Models.CentroCusto> ctCustos4 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto4"];
    List<PowerOne.Models.CentroCusto> ctCustos5 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto5"];
}


<h1 class="col-12 text-center">Criar Solicitação de Material e Equipamento</h1>
<hr />

<div class="alert col-10 mx-auto alert-hidde" role="alert" id="alert">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Success"].ToString()
        </div>
    }
    else if (TempData["Error"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Error"].ToString()
        </div>
    }
</div>
<fieldset id="testeDisabled">
    <div class="card col-10 mx-auto bg-light p-0">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <div class="row py-2">
                        <input type="text" id="inputId" value="@(((PowerOne.Models.Login)Session["auth"]).UserId)" class="form-control d-none" />
                        <input type="text" id="inputEmail" value="@(((PowerOne.Models.Login)Session["auth"]).email)" class="form-control d-none" />

                        <strong class="col-md-3">Empresa</strong>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control d-none" id="idFilial" name="Bp_ID" readonly>
                                <select id="selectFilial" name="state" style="width: 100%;" class="js-example-basic-single js-states form-control" onchange="selecionaFilial();listarDepositos()">
                                    <option value="" disabled selected>-</option>
                                    @foreach (var filial in filiais)
                                    {
                                        <option value="@filial.BplId">@filial.BplName</option>
                                    }
                                </select>
                            </div>
                            <span id="filial_validacao" class="text-danger"></span>
                        </div>

                        <!-- Modal de seleção de Filial -->
                        <div class="modal" tabindex="-1" id="filial-modal" aria-labelledby="" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header text-white bg-dark">
                                        <h5 class="modal-title">Selecione:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body p-0 scroll max-height-500">
                                        <table class="table table-striped table-hover col-md-12 m-auto ">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">
                                                        Código Filial
                                                    </th>
                                                    <th scope="col">
                                                        Nome Filial
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="lista-tabela-filial">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer m-auto col-12">
                                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="card-body p-0 scroll max-height-250">
            <table class="table table-striped col-md-12 m-auto text-center">
                <thead class="thead-dark">
                    <tr class="tr">
                        <th scope="col">Nº Linha</th>
                        <th scope="col">Cód. Item</th>
                        <th scope="col">Descrição do Item</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Und. Medida</th>
                        <th scope="col">Depósito</th>
                        @if (TempData["ctCusto"] != null)
                        {
                            <th scope="col" class="th-ctCusto">Centro de custo</th>
                        }
                        @if (TempData["ctCusto2"] != null)
                        {
                            <th scope="col" class="th-ctCusto">Centro de custo2</th>
                        }
                        @if (TempData["ctCusto3"] != null)
                        {
                            <th scope="col" class="th-ctCusto">Centro de custo3</th>
                        }
                        @if (TempData["ctCusto4"] != null)
                        {
                            <th scope="col" class="th-ctCusto">Centro de custo4</th>
                        }
                        @if (TempData["ctCusto5"] != null)
                        {
                            <th scope="col" class="th-ctCusto">Centro de custo5</th>
                        }
                        <th scope="col">Projeto</th>
                        <th scope="col">Observação</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <footer class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <form class="row">

                        <div class="form-group col-md-3">
                            <label>Item:</label>
                            <div class="input-group mb-3">
                                <select id="selectItem" name="state" style="width: 100%;" class="js-example-basic-single-ajax js-states form-control selectItem novoslc" onchange="insereItemCode();insereDadosItm(this)">
                                    @*<option value="0"  selected>-</option>
                                        @foreach (var item in itens)
                                        {
                                            <option value="@item.ItemCode" data-tipoitem="@item.TipoItem" data-grupoitm="@item.GroupItem" data-und="@item.UnidadeMedida">@(item.ItemCode + " - " +item.ItemName)</option>
                                        }*@
                                </select>
                            </div>
                            <span id="item_validacao" class="text-danger"></span>

                        </div>

                        <div class="form-group col-md-3">
                            <label>Código: </label>
                            <input type="text" id="desc-item" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-3">
                            <label>Tipo do Item: </label>
                            <input type="text" id="tipo-item" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-3">
                            <label>Depósito:</label>
                            <select name="deposito" class="form-control" id="deposito">
                                <option value=""> -- </option>
                            </select>
                            <span id="deposito_validacao" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Quantidade: </label>
                            <input inputmode="numeric" type="tel" id="quantidade" max="14" class="form-control" onkeypress='return SomenteNumero(event, this)' />
                            <span id="quantidade_validacao" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Und. Medida: </label>
                            <input type="text" id="unidadeMedida" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-3">
                            <label>Observação: </label>
                            <input type="text" id="observacao" class="form-control" />
                            <small class="text-muted">(Opcional)</small>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Projeto:</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control d-none" id="idprojeto" name="Projeto" readonly>
                                <select id="selectproject" name="state" style="width: 100%;" class="js-example-basic-single js-states form-control novoslc" onchange="selectProjeto()">
                                    <option value="" disabled selected>-</option>
                                    @foreach (var projeto in projetos)
                                    {
                                        <option value="@projeto.PrjCode">@projeto.PrjName</option>
                                    }
                                </select>
                            </div>
                            <small class="text-muted">(Opcional)</small>
                        </div>

                        @if (TempData["ctCusto"] != null)
                        {
                            <div class="form-group col-md-3">
                                <label>Ct. Custo: </label>
                                <select name="ctCusto" class="form-control" id="U_P1_OcrCode">
                                    <option value="" selected disabled></option>
                                    @foreach (var ctCusto in ctCustos)
                                    {
                                        <option value="@ctCusto.PrcCode.ToString()">@ctCusto.PrcCode - @ctCusto.PrcName</option>
                                    }
                                </select>
                                <span id="ccusto_validacao" class="text-danger"></span>
                            </div>
                        }

                        @if (TempData["ctCusto2"] != null)
                        {
                            <div class="form-group col-md-3">
                                <label>Ct. Custo 2: </label>
                                <select name="ctCusto2" class="form-control" id="U_P1_OcrCode2">
                                    <option value="" selected disabled></option>
                                    @foreach (var ctCusto in ctCustos2)
                                    {
                                        <option value="@ctCusto.PrcCode.ToString()">@ctCusto.PrcCode - @ctCusto.PrcName</option>
                                    }
                                </select>
                                <span id="ccusto2_validacao" class="text-danger"></span>
                            </div>
                        }
                        @if (TempData["ctCusto3"] != null)
                        {
                            <div class="form-group col-md-3">
                                <label>Ct. Custo 3: </label>
                                <select name="ctCusto3" class="form-control" id="U_P1_OcrCode3">
                                    <option value="" selected disabled></option>
                                    @foreach (var ctCusto in ctCustos3)
                                    {
                                        <option value="@ctCusto.PrcCode.ToString()">@ctCusto.PrcCode - @ctCusto.PrcName</option>
                                    }
                                </select>
                                <span id="ccusto3_validacao" class="text-danger"></span>
                            </div>
                        }
                        @if (TempData["ctCusto4"] != null)
                        {
                            <div class="form-group col-md-3">
                                <label>Ct. Custo 4: </label>
                                <select name="ctCusto4" class="form-control" id="U_P1_OcrCode4">
                                    <option value="" selected disabled></option>
                                    @foreach (var ctCusto in ctCustos4)
                                    {
                                        <option value="@ctCusto.PrcCode.ToString()">@ctCusto.PrcCode - @ctCusto.PrcName</option>
                                    }
                                </select>
                                <span id="ccusto4_validacao" class="text-danger"></span>
                            </div>
                        }
                        @if (TempData["ctCusto5"] != null)
                        {
                            <div class="form-group col-md-3">
                                <label>Ct. Custo 5: </label>
                                <select name="ctCusto5" class="form-control" id="U_P1_OcrCode5">
                                    <option value="" selected disabled></option>
                                    @foreach (var ctCusto in ctCustos5)
                                    {
                                        <option value="@ctCusto.PrcCode.ToString()">@ctCusto.PrcCode - @ctCusto.PrcName</option>
                                    }
                                </select>
                                <span id="ccusto5_validacao" class="text-danger"></span>
                            </div>
                        }


                        <div class="row col-md-12 mx-auto">
                            <label class="col-12"><br /></label>
                            <button type="button" class="btn btn-block btn-outline-dark material-icons col-md-2 mx-auto" onclick="salvarLinhaEstoque()">add</button>
                        </div>

                    </form>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <form class="col-md-8 mx-auto">
                            <div class="form-group">
                                <label>Observações: </label>
                                <textarea class="form-control" id="ObservacaoGeral"></textarea>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="row p-2">
                                        <button class="btn btn-success col-md-12" id="enviar" type="button" onclick="salvar()" disabled="disabled">Salvar Requerimento</button>
                                        <button class="btn btn-success d-none col-md-12 p-2" id="load" type="button" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Adicionando...
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row p-2">
                                        @Html.ActionLink("Voltar", "Estoque", "Home", null, new { @class = "btn btn-outline-primary  col-md-12" })
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </footer>
    </div>
</fieldset>
@section scripts{

    <script src="~/Content/scripts/selects.js"></script>

    <script src="~/Content/scripts/formInTableLine.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/pt-BR.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/pt.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" integrity="sha512-kq3FES+RuuGoBW3a9R2ELYKRywUEQv0wvPTItv3DSGqjpbNtGWVdvT8qwdKkqvPzT93jp8tSF4+oN4IeTEIlQA==" crossorigin="anonymous" />

    @*@if (configs.IdDeposito != "")
        {
            <script>
                listarDepositos()
            </script>
        }*@

<script>

    function insereItemCode() {
        $('#desc-item').val($("#selectItem option:selected").val());
        $('#tipo-item').val($('#selectItem').attr("data-tipoitem"));
        $('#unidadeMedida').val($('#selectItem').attr("data-und"));
        //$('#desc-item').data("und");

        //$('#desc-item').val($("#selectItem option:selected").val());
    }

    function selecionaFilial() {
        $('#idFilial').val($("#selectFilial option:selected").val());
    }

    function selectProjeto() {
        $('#idprojeto').val($("#selectproject option:selected").val());
    }

    $("#selectItem").select2({
        language: "pt",
        minimumInputLength: 2,
        minimumResultsForSearch: 10,
        allowClear: true,
        ajax: {
            url: '/Search/SearchItem',
            dataType: "json",
            type: "GET",
            data: function (params) {
                var queryParameters = {
                    'name': params.term
                }
                return queryParameters;
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (item) {
                        $("#selectItem").attr('data-tipoitem', item.ItemClass);
                        $("#selectItem").attr('data-und', item.InvntryUom);
                        $("#selectItem").attr('data-grupoitm', item.ItmsGrpNam);
                        return {
                            text: item.ItemName,
                            id: item.ItemCode
                        }
                    }),
                };
            },
        },
    });

    $('#selectItem').find(':selected').data('custom-attribute');

    var linhas = [];

    function isValid(data) {

        var msg = "";
        var valid = true;

        //if (data.CodigoDeposito == null) {
        //    msg = "Depósito é um campo obrigatório.";
        //    escreverMensagemEmInput('#deposito_validacao', msg);
        //    msg = "Escolha uma filial!";
        //    escreverMensagemEmInput('#filial_validacao', msg);
        //    valid = false;
        //}

        if (data.U_P1_Quantity == "" || data.U_P1_Quantity == "," || data.U_P1_Quantity <= 0) {
            msg = "Quantidade é um campo obrigatório.";
            escreverMensagemEmInput('#quantidade_validacao', msg);
            valid = false;
        } else if (data.U_P1_Quantity.substr(0, 1) == ",") {
            msg = "Quantidade Inválida.";
            escreverMensagemEmInput('#quantidade_validacao', msg);
            valid = false;
        }

        teste = $('#desc-item').val();
        if (teste == null || teste == "") {
            msg = "Escolha um item!";
            escreverMensagemEmInput('#item_validacao', msg);
            valid = false;
        }

        if (countCCusto != 0) {
            if (isAnyEmpty($('#U_P1_OcrCode :selected'))) {
                escreverMensagemEmInput('#ccusto_validacao', "Centro de custo é obrigatório");
                valid = false;
            }
        }

        if (countCCusto2 != 0) {
            if (isAnyEmpty($('#U_P1_OcrCode2 :selected'))) {
                escreverMensagemEmInput('#ccusto2_validacao', "Centro de custo 2 é obrigatório");
                valid = false;
            }
        }

        if (countCCusto3 != 0) {
            if (isAnyEmpty($('#U_P1_OcrCode3 :selected'))) {
                escreverMensagemEmInput('#ccusto3_validacao', "Centro de custo 3 é obrigatório");
                valid = false;
            }
        }

        if (countCCusto4 != 0) {
            if (isAnyEmpty($('#U_P1_OcrCode4 :selected'))) {
                escreverMensagemEmInput('#ccusto4_validacao', "Centro de custo 4 é obrigatório");
                valid = false;
            }
        }

        if (countCCusto5 != 0) {
            if (isAnyEmpty($('#U_P1_OcrCode5 :selected'))) {
                escreverMensagemEmInput('#ccusto5_validacao', "Centro de custo 5 é obrigatório");
                valid = false;
            }
        }

        return valid;
    }

    var countCCusto = $('#U_P1_OcrCode').length;
    var countCCusto2 = $('#U_P1_OcrCode2').length;
    var countCCusto3 = $('#U_P1_OcrCode3').length;
    var countCCusto4 = $('#U_P1_OcrCode4').length;
    var countCCusto5 = $('#U_P1_OcrCode5').length;

    function salvarLinhaEstoque() {
        var linha = {}

        //var countCCusto = $('.th-ctCusto').length;

        linha.U_P1_ItemCode = $('#desc-item').val();
        linha.U_P1_StatusLinha = "O";
        linha.DecricaoItem = $('#selectItem :selected').text();
        let salvarVargrp = $('#group-item').length;
        if (salvarVargrp != 0) {

            linha.U_P1_GroupItem = $('#group-item').val();
        }

        linha.U_P1_WhsCode = $('#deposito :selected').val();
        linha.U_P1_WhsName = $('#deposito :selected').text();

        linha.U_P1_Quantity = $('#quantidade').val();
        let salvarVarUND = $('#unidadeMedida').length;
        if (salvarVarUND != 0) {
            linha.U_P1_UndMedida = $('#unidadeMedida').val();
        }

        linha.U_P1_Comments = $('#observacao').val();


        if (countCCusto != 0) {
            linha.U_P1_OcrCode = $('#U_P1_OcrCode :selected').val();
            linha.U_P1_OcrName = $('#U_P1_OcrCode :selected').text();
        }

        if (countCCusto2 != 0) {
            linha.U_P1_OcrCode2 = $('#U_P1_OcrCode2 :selected').val();
            linha.U_P1_OcrName2 = $('#U_P1_OcrCode2 :selected').text();
        }

        if (countCCusto3 != 0) {
            linha.U_P1_OcrCode3 = $('#U_P1_OcrCode3 :selected').val();
            linha.U_P1_OcrName3 = $('#U_P1_OcrCode3 :selected').text();
        }

        if (countCCusto4 != 0) {
            linha.U_P1_OcrCode4 = $('#U_P1_OcrCode4 :selected').val();
            linha.U_P1_OcrName4 = $('#U_P1_OcrCode4 :selected').text();
        }

        if (countCCusto5 != 0) {
            linha.U_P1_OcrCode5 = $('#U_P1_OcrCode5 :selected').val();
            linha.U_P1_OcrName5 = $('#U_P1_OcrCode5 :selected').text();
        }

        if ($('#idprojeto').length != 0) {
            linha.U_P1_PROJ = $('#idprojeto').val();
            linha.PrjName = $('#selectproject :selected').text();
        }
        if (isValid(linha)) {
            linhas.push(linha);
            listar();

            $('#toast').toast('show');
        } else {
            linha = {}
        }
    }

    function listar() {
        limparFormTable();
        disableFilial();
        linhas.forEach(function (item) {
            var row = "";
            if (linhas.length > 0) {
                $('#enviar').prop('disabled', false);
                $("#pesquisar-filial").prop('disabled', true);
                $("#bp").prop('disabled', true);
            } else if (linhas.length <= 0) {
                $('#enviar').prop('disabled', false);
                $("#pesquisar-filial").prop('disabled', false);
            }

            row += "<td>" + (linhas.indexOf(item) + 1) + "</td>";
            row += "<td>" + item.U_P1_ItemCode + "</td>";
            row += "<td>" + item.DecricaoItem + "</td>";
            let varListargrpoitm = item.U_P1_GroupItem;
            if (varListargrpoitm != undefined) {

                row += "<td>" + item.U_P1_GroupItem + "</td>";
            }

            row += "<td>" + item.U_P1_Quantity + "</td>";
            let varListarund = item.U_P1_UndMedida;
            if (varListarund != undefined) {
                row += "<td>" + item.U_P1_UndMedida + "</td>";
            }

            row += "<td>" + item.U_P1_WhsName + "</td>";

            if (countCCusto != 0) {
                row += "<td>" + item.U_P1_OcrName + "</td>";
            }
            if (countCCusto2 != 0) {
                row += "<td>" + item.U_P1_OcrName2 + "</td>";
            }
            if (countCCusto3 != 0) {
                row += "<td>" + item.U_P1_OcrName3 + "</td>";
            }
            if (countCCusto4 != 0) {
                row += "<td>" + item.U_P1_OcrName4 + "</td>";
            }
            if (countCCusto5 != 0) {
                row += "<td>" + item.U_P1_OcrName5 + "</td>";
            }
            if ($('#idprojeto').length != 0) {
                row += "<td>" + item.PrjName + "</td>";
            }

            row += "<td>" + item.U_P1_Comments + "</td>";

            row += "<td>" + "<button class='btn btn-outline-danger' onclick='excluirLinha(" + linhas.indexOf(item) + ")'>Excluir</button>" + "</td>";

            $('tbody').append("<tr class='tr'>" + row + "<tr>");
        });
    }

    function limparFormTable() {
        $('#selectItem').val(0);
        $('tbody tr').remove();
        $('form div input').each(function () {
            this.value = '';
        });

        $('form div select').each(function () {
            this.value = '';
        });


        listarItensEstocaveis("");
    }

    //$(document).ready(function () {
    //    $('.js-example-basic-single').select2();
    //});

    $('.js-example-basic-single').select2({
        placeholder: 'Selecione uma Opção'
    });


    function disableFilial() {
        console.log("entrou")
        if ($("#selectFilial").hasClass('d-none')) {
            $("#selectFilial").addClass('d-none');
        } else {
            $("#selectFilial").removeClass('d-none');
        }
    }

    function salvar() {
        var data = new Date();
        var novadata = new Date();
        novadata = moment(data.toLocaleDateString(), "DD/MM/YYYY");
        var requerimento = {
            //U_P1_DTLANC: data.toLocaleDateString(),
            U_P1_DTLANC: novadata.format("YYYY-MM-DD"),
            U_P1_Comments: $('textarea#ObservacaoGeral').val(),
            U_P1_IDFILIAL: $('#idFilial').val(),
            U_P1_NOMEFILIAL: $('#selectFilial :selected').text(),
            U_P1_Owner: $('#inputId').val(),
            U_P1_STATUS: "O",
            U_P1_Email: $('#inputEmail').val(),
            P1_IGE1Collection: linhas
        };
        $.ajax({
            url: '/Estoque/Add',
            type: 'post',
            dataType: 'json',
            data: {
                'ReqEstoque': requerimento
            },
            beforeSend: function () {
                //Aqui adicionas o loader
                $("#load").removeClass("d-none");
                $("#enviar").addClass("d-none")
                $("#testeDisabled").prop('disabled', true);
            },
            success: function (data) {
                if (data.type == 'error') {
                    $('#alert').text(data.msg);
                    $('#alert').removeClass('alert-hidde');
                    $('#alert').addClass('alert-danger');
                    $("#load").addClass("d-none");
                    $("#enviar").removeClass("d-none")
                    $("#testeDisabled").prop('disabled', false);
                } else {
                    addSucces(data.msg, null, null);
                    $("#load").addClass("d-none");
                    $("#enviar").removeClass("d-none")
                    $("#testeDisabled").prop('disabled', false);
                    //$('#alert').text(data.msg);
                    //$('#alert').removeClass('alert-hidde');
                    //$('#alert').addClass('alert-success');

                    //$('#visualizar').removeClass('alert-hidde');

                    limparFormTable();
                    linhas = [];
                }
            },
            error: function () {
                alert("Erro ao enviar os dados.");
            }
        });
    }

    var el = $('#Quantity');
    el.on('keyup', function () {
        $('#enviar').prop('disabled', isAnyEmpty(el));
    });

    function listarItensEstocaveis() {

        var itemName = $('#selectItem').val();

        $.ajax({
            url: '/Item/SearchOnly',
            type: 'get',
            dataType: 'json',
            data: {
                'itemName': itemName,
            },
            success: function (data) {
                listarItensRadioEstoque(data);
            }
        });
    }

    function listarItensRadioEstoque(listItens) {
        $('tbody#lista-tabela-itens tr').remove();
        listItens.forEach(function (item) {
            var row = ""
            row += "<td class='d-none'>" + "<input type='radio' name='item-radio' id='" + item.ItemCode + "' onchange='escreverItemInputestq(this)' value='" + item.ItemCode + "' data-itemname='" + item.ItemName + "' data-unidademedida='" + item.UnidadeMedida + "' data-groupitem='" + item.GroupItem + "'>" + "</td>";
            row += "<td>" + item.ItemCode + "</td>";
            row += "<td>" + item.ItemName + "</td>";
            row += "<td>" + item.ItemClass + "</td>";

            $('tbody#lista-tabela-itens').append("<tr class='tr tr-click' onclick='fnc(this)' data-tipo='itemstq' data-id='" + item.ItemCode + "'>" + row + "<tr>");
        });
    }

    $(document).on('keydown', '#pesquisar-item-estoque', function (tab) {
        if (tab.which == 9 || tab.which == 13) {
            listarItensEstocaveis();
            $('#itens-modal').modal('toggle');
        }
    });

    function escreverItemInputestq(_radio) {
        $('#desc-item').val(jQuery(_radio).val());
        $('#pesquisar-item-estoque').val(jQuery(_radio).data("itemname"));
        $('#group-item').val(jQuery(_radio).data("groupitem"));

        $('#unidadeMedida').val(jQuery(_radio).data("unidademedida"));

        $('#itens-modal').modal('hide');
    }

    function insereDadosItm(itm) {
        console.log("Select selecionado")
        console.log(itm)
    }

</script>
}
