﻿@{
    List<Models.Estoque.RequerimentoEstoque> requerimentos = (List<Models.Estoque.RequerimentoEstoque>)TempData["requerimentos"];
    string tipo = (string)TempData["tipo"];

    Layout = "~/Views/Shared/_Layout.cshtml";

    int contagem = 0;
}

<h1 class="col-12 text-center">Lista de Requisições @if (tipo == "1") { @("Em Aberto") } else { @("Processadas") } </h1>
<hr />

@if (TempData["Success"] != null)
{
    <div class="alert alert-success col-10 mx-auto my-2" role="alert">
        @TempData["Success"].ToString()
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger col-10 mx-auto" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="card col mx-auto bg-light p-0">
    <div class="card-header">
        <p>Data de Lançamento</p>
        <form action="~/Estoque/Index">
            <div class="row">

                <div class="col-md-3 form-group col-sm-12">
                    <label>De:</label>
                    <input type="date" class="form-control" name="dtInicio" />
                </div>
                <div class="col-md-3 form-group col-sm-12">
                    <label>Até:</label>
                    <input type="date" class="form-control" name="dtFim" />
                </div>
                <div class="col-md-3 form-group col-sm-12">
                    <label>Pesquisar:</label>
                    <input class="form-control" type='search' id='txt_searchall' placeholder='Digite..'>&nbsp;
                </div>
                <div class="col-md-3 form-group col-sm-12">
                    <div class="row">
                        <label class="col-12"><br /></label>
                        <button type="submit" class="btn btn-outline-success col-md-12"><i class="material-icons">search</i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body p-0 scroll max-height-500">
        <table class="table table-striped col-md-12 m-auto" id="tabelaIndex">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Visualizar</th>
                    <th scope="col">Cancelar</th>

                    <th scope="col">Número do Documento</th>
                    <th scope="col">Data de Lançamento</th>
                    <th scope="col">Requisitante</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @try
                {
                    contagem = requerimentos.Count();
                }
                catch (Exception)
                {
                    <tr>
                        <td colspan="6">
                            <p> Sem registros </p>
                        </td>
                    </tr>
                }
                @if (contagem == 0)
                {

                }
                else
                {
                    foreach (var Req in requerimentos)
                    {
                        <tr>

                            <td>
                                @Html.ActionLink("arrow_forward", "Details", "Estoque", new { DocEntry = Req.DocEntry, Filial = Req.U_P1_IDFILIAL }, new { @class = "btn btn-outline-dark material-icons" })
                            </td>
                            @if (Req.U_P1_STATUS != "Aberta")
                            {
                                <td>
                                    <button type="button" class="btn btn-danger material-icons" disabled>close</button>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <button type="button" class="btn btn-outline-danger material-icons" data-toggle="modal" data-target="#confirmar@(Req.DocEntry)">
                                        close
                                    </button>
                                </td>
                            }
                            <td>@Req.DocEntry</td>
                            @*<td>@Html.DisplayFor(model => Req.DocNum)</td>*@
                            <td>@DateTime.Parse(Req.U_P1_DTLANC).ToString("dd/MM/yyyy")</td>
                            <td>@Req.U_P1_Owner.Replace(".", " ")</td>
                            <td>@Req.U_P1_STATUS</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@foreach (var Req in requerimentos)
{
    <!-- Modal confirmar fechar status do documento -->
    <div class="modal fade" id="confirmar@(Req.DocEntry)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title col-12" id="exampleModalLabel">Confirmação do Documento @(+Req.DocNum)</h5>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                </div>
                <div class="modal-body">
                    <p>Data de Lançamento: @(DateTime.Parse(Req.U_P1_DTLANC).ToString("dd/MM/yyyy"))</p>

                    Você tem certeza que deseja cancelar esse <strong>Estoque</strong> feito por <strong>@(Req.U_P1_Owner)?</strong>
                    <br />Essa ação altera o status do documento de Aberto para <strong>Cancelado</strong>
                </div>
                <div class="modal-footer">
                    <form action="~/Estoque/FecharRequerimento" method="post">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => Req.DocEntry, new { Name = "DocEntry" })
                        <button type="submit" value="Fechar" class="btn btn-danger">Sim, Desejo cancelar o Documento</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não, Voltar</button>
                        @* @Html.ActionLink("Sim, Desejo fechar o Documento", "Fechar", "RequerimentoEstoque", new { DocEntry = Req.DocEntry }, new { @class = "btn btn-danger " })*@
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-dataTable.css">
    <script>

        $(document).ready(function () {

            // Search all columns
            $('#txt_searchall').keyup(function () {
                // Search Text
                var search = $(this).val();

                // Hide all table tbody rows
                $('table tbody tr').hide();

                // Count total search result
                var len = $('table tbody tr:not(.notfound) td:contains("' + search + '")').length;

                if (len > 0) {
                    // Searching text in columns and show match row
                    $('table tbody tr:not(.notfound) td:contains("' + search + '")').each(function () {
                        $(this).closest('tr').show();
                    });
                } else {
                    $('.notfound').show();
                }

            });
        });



        $(document).ready(function () {
            $('#tabelaIndex').DataTable({
                "columnDefs": [{ "targets": [0], "orderable": false }],
                "info": false,
                "paging": false,
                "searching": false,
                "language": {
                    "lengthMenu": "Display _MENU_ records per page",
                    "zeroRecords": "Nada encontrado",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "Nenhum dado encontrado",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }
            });
        });


    </script>
} 