﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PowerOne.Models.Estoque.Lotes> lotes = (List<PowerOne.Models.Estoque.Lotes>)TempData["lotes"];
}

<h1 class="col-12 text-center">Cadastrar lotes dos itens</h1>
<hr />

<div class="card col-10 mx-auto bg-light p-0">
    <form action="~/RequerimentoEstoque/AddLote" method="post">
        <div class="card-header p-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="row py-2">
                        <strong class="col-md-6">@*@Html.DisplayNameFor(model => Model.Código)*@</strong>
                        <div class="col-md-6">
                            <input class="form-control" @*value="@Html.DisplayFor(model => Model.)"*@ readonly />
                        </div>
                    </div>
                    <div class="row py-2">
                        <strong class="col-md-6">@*@Html.DisplayNameFor(model => Model.Item)*@:</strong>
                        <div class="col-md-6">
                            <input class="form-control" @*value="@Html.DisplayFor(model => Model.)"*@ readonly />
                        </div>
                    </div>
                    <div class="row py-2">
                        <strong class="col-md-6">@*@Html.DisplayNameFor(model => Model.Quantidade)*@:</strong>
                        <div class="col-md-6">
                            <input class="form-control" @*value="@Html.DisplayFor(model => Model.)"*@ readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body p-0 scroll max-height-500">
            <label>Selecione o Item:</label>
            <select name="itens">
                <option value="Código do Item">Item</option>
            </select>

            <div class="row">
                <table class="table table-striped table-responsive col-md-12 text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Lote
                            </th>
                            <th>
                                Qtd. Disponível
                            </th>
                            <th>
                                Qtd. Selecionada
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Lote
                            </td>
                            <td>
                                Qtd. Disponível
                            </td>
                            <td>
                                Qtd. Selecionada
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-footer">
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="row p-2">
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row p-2">
                        @Html.ActionLink("Voltar", "Details", "RequerimentoEstoque", new { DocEntry = TempData["DocEntry"] }, new { @class = "btn btn-outline-primary col-md-12" })
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts{

    <script>

        function docValid() {
            var msg = "";
            var valid = true;
            
            return valid;
        }

        function salvar() {
            if (docValid()) {
                var reembolso = {
                    Itens: linhas
                };

                $.ajax({
                    url: '/RequerimentoEstoque/AprovaLote',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        'reembolso': reembolso
                    },
                    success: function (data) {
                        if (data.type == 'error') {
                            $('#alert').text(data.msg);
                            $('#alert').removeClass('alert-hide');
                            $('#alert').addClass('alert-danger');
                        } else {
                            addSucces(data.msg, null, null);
                            //limparFormTable();
                            //linhas = [];
                        }
                    },
                    error: function () {
                        alert("Erro ao enviar os dados.");
                    }
                });
            }
        }

    </script>

}