﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PowerOne.Models.ViewModel.AutorizacoesFormViewModel> oValoresValidos = new List<PowerOne.Models.ViewModel.AutorizacoesFormViewModel>();

    oValoresValidos.Add(new PowerOne.Models.ViewModel.AutorizacoesFormViewModel { sValor = "N", sDescricao = "Sem Autorização" });
    oValoresValidos.Add(new PowerOne.Models.ViewModel.AutorizacoesFormViewModel { sValor = "R", sDescricao = "Acesso Restrito" });
    oValoresValidos.Add(new PowerOne.Models.ViewModel.AutorizacoesFormViewModel { sValor = "T", sDescricao = "Acesso Total" });

    List<PowerOne.Models.ViewModel.AutorizacoesFormViewModel> oValoresSimNao = new List<PowerOne.Models.ViewModel.AutorizacoesFormViewModel>();

    oValoresSimNao.Add(new PowerOne.Models.ViewModel.AutorizacoesFormViewModel { sValor = "N", sDescricao = "Não Autorizado" });
    oValoresSimNao.Add(new PowerOne.Models.ViewModel.AutorizacoesFormViewModel { sValor = "S", sDescricao = "Autorizado" });

    List<PowerOne.Models.ViewModel.AutorizacoesFormViewModel> oValoresYouN = new List<PowerOne.Models.ViewModel.AutorizacoesFormViewModel>();

    oValoresYouN.Add(new PowerOne.Models.ViewModel.AutorizacoesFormViewModel { sValor = "N", sDescricao = "Não Atribuido" });
    oValoresYouN.Add(new PowerOne.Models.ViewModel.AutorizacoesFormViewModel { sValor = "Y", sDescricao = "Atribuido" });

    List<PowerOne.Models.Autorizacoes> autorizacoeUsuario = (List<PowerOne.Models.Autorizacoes>)TempData["autorizacoes"];
    List<PowerOne.Models.AutorizacoesGrupo> autorizacoeGrupo = (List<PowerOne.Models.AutorizacoesGrupo>)TempData["autorizacoesGrupo"];

    //PowerOne.Models.ConfDocumento confBloqueio = (PowerOne.Models.ConfDocumento)TempData["confBloqueio"];
}
<h1 class="text-center">Autorizações</h1>
<hr />

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="card col-md-12 mx-auto p-0">
    <div class="card-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Usuários</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="true">Grupos</a>
            </li>
            @*<li class="nav-item" role="presentation">
                    <a class="nav-link" id="nav-mesAnterior-tab" data-toggle="tab" href="#nav-mesAnterior" role="tab" aria-controls="nav-mesAnterior" aria-selected="false">Permitir Lançamentos em mêses anteriores</a>
                </li>*@
        </ul>
    </div>

    <div class="tab-content card-body p-0 scroll max-height-500" id="myTabContent">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
            <table class="table table-striped col-md-12 m-auto" id="tableUser">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">Sobrenome</th>
                        <th scope="col">Grupo</th>
                        <th scope="col">Autorizações</th>
                        <th scope="col">Salvar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in autorizacoeUsuario)
                    {
                        <form action="~/Configuracoes/AtualizarGrupoUsuario" method="post" class="row">
                            <tr>
                                <td>@Html.DisplayFor(userData => user.UserId)</td>
                                <td>@(user.UserName)</td>
                                <td>@(user.UserLastName)</td>
                                <td>
                                    <select name="idGrupo" class="form-control">
                                        @foreach (var option in autorizacoeGrupo)
                                        {
                                            if (option.Code == user.IdGrupo)
                                            {
                                                <option value="@option.Code" selected>@option.Code</option>
                                            }
                                            else
                                            {
                                                <option value="@option.Code">@option.Code</option>
                                            }
                                        }
                                    </select>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" @( $"data-target=#USR{user.UserId}" )>
                                        <i class="material-icons">build</i>
                                    </button>
                                </td>

                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(userData => user.UserId, new { Name = "idUser" })
                                <td>
                                    <div class="">
                                        <button class="btn btn-outline-success" type="submit">
                                            <i class="material-icons">save</i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </form>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="groups" role="tabpanel" aria-labelledby="groups-tab">
            <div class="card p-0">
                <div class="card-header bg-light">
                    <h5 class="text-center">Adicionar Grupo</h5>

                    <form action="~/Configuracoes/AddGroup" method="post">
                        @Html.AntiForgeryToken()

                        <div class="row mx-auto">
                            <div class="form-group col-md-4 mb-0">
                                <label>Nome do Grupo</label>
                                <input type="text" id="GroupName" name="GroupName" class="form-control" />
                            </div>

                            <div class="form-group col-md-2 mt-4 mb-0">
                                <button type="submit" class="btn btn-outline-success"><i class="material-icons">save</i></button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-body p-0">
                    <table class="table table-striped col-md-12 m-auto">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Grupo</th>
                                <th scope="col">Autorizações</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var group in autorizacoeGrupo)
                            {
                                <tr>
                                    <td class="col">@Html.DisplayFor(userData => group.Code)</td>
                                    <td class="col">@Html.DisplayFor(userData => group.Name)</td>
                                    <td class="col-1">
                                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" @( $"data-target=#GRP{group.Code}" )>
                                            <i class="material-icons">build</i>
                                        </button>
                                    </td>
                                    <td class="col-1">
                                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-toggle="modal" @( $"data-target=#excluir{group.Code}" )>
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>

                                <form action="~/Configuracoes/EditGroupName" method="post">
                                    <tr class="d-none" id="@($"editGroup{group.Code}")">
                                        <input type="text" class="d-none" name="Codigo" value="@group.Code" />
                                        <td class="col">@Html.DisplayFor(userData => group.Code)</td>
                                        <td class="col"><input class="form-control" value="@group.Name" name="NovoNome"></td>
                                        <td class="col-1">
                                            <button disabled type="button" class="btn btn-outline-primary">
                                                <i class="material-icons">build</i>
                                            </button>
                                        </td>

                                        <td class="col-1">
                                            <button disabled type="button" class="btn btn-outline-danger">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>
                                </form>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="license" role="tabpanel" aria-labelledby="license-tab">
            <form action="~/Configuracoes/Licencas" method="post">
                <div class="card mx-auto bg-light p-0">
                    <div class="card-body p-0 ">

                        <table class="table table-striped col-md-12 m-auto">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col" colspan="2">Usuário</th>
                                    <th scope="col">Selecionar Licença</th>
                                </tr>
                            </thead>
                            <tbody class="max-height-400 scroll p-0">
                                @foreach (var user in autorizacoeUsuario)
                                {
                                    <tr>
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(UserId => user.UserId, new { Name = "UserId", Id = "UserId" })
                                        @Html.HiddenFor(UserName => user.UserName, new { Name = "UserName", Id = "UserName" })

                                        <td>@Html.DisplayFor(userData => user.UserId)</td>
                                        <td>@Html.DisplayFor(userData => user.UserName)</td>
                                        <td>@Html.DisplayFor(userData => user.UserLastName)</td>
                                        <td>@Html.DisplayFor(userData => user.Grupo)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="row mt-3">
                            <button type="submit" class="btn btn-info btn-block col-md-4 ml-md-auto">Atualizar Licenças</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane" id="screnBlock" role="tabpanel" aria-labelledby="screnBlock-tab">
            <form action="~/Configuracoes/SetLock" method="post">
                @Html.AntiForgeryToken()

                <div class="card mx-auto bg-light p-0">
                    <div class="card-body p-0 ">
                        <div class="row my-3">

                            <div class="col-12">

                                <div class="form-group form-control-lg col-md-4 mx-auto ml-1">
                                    @*@if (confBloqueio.StatusBloqueio == "Y")
                                        {
                                            <input id="StatusBloqueio" name="StatusBloqueio" value="Y" type="checkbox" class="form-check-input" onclick="alteraBloqueio()" checked>
                                        }
                                        else
                                        {
                                            <input id="StatusBloqueio" name="StatusBloqueio" value="Y" type="checkbox" class="form-check-input" onclick="alteraBloqueio()">
                                        }*@
                                    <label for="StatusBloqueio" class="text-danger">Desativar/Ativar Bloqueio</label>
                                    <span id="statusBloqueio_validacao" class="text-danger"></span>
                                </div>
                                <hr />

                                <div class="form-group col-md-3 mx-auto ml-1">
                                    @*@if (confBloqueio.IsHourBloqueio == "Y")
                                        {
                                            <input id="IsHour" name="IsHourBloqueio" value="Y" type="checkbox" class="form-check-input" onclick="trocaDisabled()" checked>
                                        }
                                        else
                                        {
                                            <input id="IsHour" name="IsHourBloqueio" value="Y" type="checkbox" class="form-check-input" onclick="trocaDisabled()">
                                        }*@
                                    <label for="IsHour">Bloqueio por Hora</label>
                                    <span id="isHour_validacao" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-4 mx-auto">
                                    <label>Horas Mínimas de bloqueio:</label>
                                    @*@if (confBloqueio.IsHourBloqueio == "Y")
                                        {
                                            <input class="form-control" type="time" name="HorasBloqueio" id="HourLock" value="@confBloqueio.HorasBloqueio.ToString("HH:mm")" />
                                        }
                                        else
                                        {
                                            <input class="form-control" type="time" name="HorasBloqueio" id="HourLock" disabled="disabled" />
                                        }*@
                                    <span id="hourLock_validacao" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 mx-auto mt-3">
                                <button type="submit" class="btn btn-success btn-block col-md-4 mx-auto">Salvar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>


        @*<div class="tab-pane fade" id="nav-mesAnterior" role="tabpanel" aria-labelledby="nav-mesAnterior-tab">
                <div class="card p-0">
                    <div class="card-header bg-light">
                        <form action="~/TimeSheet/AtualizarAllPermLancamento" method="post">
                            <div class="row mx-auto">
                                @if (permicoesTotais[1] == "Y")
                                {
                                    <div class="form-group col-md-5">
                                        <label>Dia anterior de limite a liberar para todos</label>
                                        <input type="date" id="LimitDateAll" name="LimitDateAll" class="form-control" value="@permicoesTotais[0]" />
                                    </div>

                                    <div class="form-group col-md-5 mt-4">
                                        <input type="checkbox" class="form-check-input" id="YNLimitDateAll" name="YNLimitDateAll" value="Y" onclick="trocaDisabledAll()" checked />
                                        <label for="YNLimitDateAll">Dar permissão para <span class="text-danger">todos</span></label>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group col-md-5">
                                        <label>Dia anterior de limite a liberar para todos</label>
                                        <input type="date" id="LimitDateAll" name="LimitDateAll" class="form-control" disabled="disabled" />
                                    </div>

                                    <div class="form-group col-md-5 mt-4">
                                        <input type="checkbox" class="form-check-input" id="YNLimitDateAll" name="YNLimitDateAll" value="Y" onclick="trocaDisabledAll()" />
                                        <label for="YNLimitDateAll">Dar permissão para <span class="text-danger">todos</span></label>
                                    </div>
                                }

                                <div class="form-group col-md-2 m-auto">
                                    <button type="submit" class="btn btn-outline-success" onclick="atualizarPermicaoLancamento(this)"><i class="material-icons">save</i></button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-body p-0">
                        <table id="UsuariosPendentes" class="table table-striped col-md-12 m-auto text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Sobrenome</th>
                                    <th scope="col">Dia anterior de limite a liberar</th>
                                    <th scope="col">Liberar</th>
                                    <th scope="col">Salvar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var colaborador in colaboradores)
                                {
                                    <tr>
                                        @Html.HiddenFor(UserID => colaborador.UserId, new { Name = "UserID", Class = "UserID" })

                                        <td>@colaborador.UserName</td>
                                        <td>@colaborador.UserLastName</td>
                                        <td>
                                            @if (colaborador.YNLimitDate == "Y")
                                            {
                                                <input type="date" name="LimitDate" value="@(colaborador.LimitDate.ToString("yyyy-MM-dd"))" class="form-control disabled LimitDate" />
                                            }
                                            else
                                            {
                                                <input type="date" name="LimitDate" class="form-control disabled LimitDate" disabled="disabled" />
                                            }
                                        </td>
                                        <td>
                                            @if (colaborador.YNLimitDate == "Y")
                                            {
                                                <input type="checkbox" name="YNLimitDate" value="Y" class="form-check m-auto YNLimitDate" onclick="trocaDisabled(this)" checked />
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="YNLimitDate" value="Y" class="form-check m-auto YNLimitDate" onclick="trocaDisabled(this)" />
                                            }
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success" onclick="atualizarPermicaoLancamento(this)"><i class="material-icons">save</i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>*@
    </div>
</div>

@foreach (var user in autorizacoeUsuario)
{
    <!-- Modal -->
    <div class="modal fade" id="@($"USR{user.UserId}")" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="@($"USR{user.UserId}")" aria-hidden="true">
        <form class="modal-dialog modal-dialog-scrollable" action="~/Configuracoes/Autorizacoes" method="post">
            <input type="hidden" name="UserId" value="@user.UserId" />
            <div class="modal-content">
                <div class="modal-header text-white bg-dark">
                    <h5 class="modal-title" id="staticBackdropLabel">Permissões de @user.UserName</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0 bg-light">

                    <table class="table table-striped col-md-12 m-auto ">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">
                                    Página
                                </th>
                                <th scope="col">
                                    Autorização
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr colspan='2'><td colspan='2'>Estoque</td></tr>
                            <tr>
                                <td>Req. Estoque</td>
                                <td>
                                    <select name="ReqEstoque" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.ReqEstoque)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Req. Estoque</td>
                                <td>
                                    <select name="CriarReqEstoque" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.CriarReqEstoque)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Autorizador</td>
                                <td>
                                    <select name="Autorizador" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.Autorizador)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Almoxarifado</td>
                                <td>
                                    <select name="Almoxarifado" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.Almoxarifado)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="material-icons">save</i></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="material-icons">close</i></button>
                </div>
            </div>
        </form>
    </div>
}


@foreach (var group in autorizacoeGrupo)
{
    <!-- Modal -->
    <div class="modal fade" id="@($"GRP{group.Code}")" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="@($"GRP{group.Code}")" aria-hidden="true">
        <form class="modal-dialog modal-dialog-scrollable" action="~/Configuracoes/AtualizarAutorizacoesGrupo" method="post">
            <input type="hidden" name="Code" value="@group.Code" />
            <input type="hidden" name="Name" value="@group.Name" />
            <div class="modal-content">
                <div class="modal-header text-white bg-dark">
                    <h5 class="modal-title" id="staticBackdropLabel">Permissões de @group.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <table class="table table-striped col-md-12 m-auto ">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">
                                    Página
                                </th>
                                <th scope="col">
                                    Autorização
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr colspan='2'><td colspan='2'>Estoque</td></tr>
                            <tr>
                                <td>Req. Estoque</td>
                                <td>
                                    <select name="ReqEstoque" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.ReqEstoque)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Req. Estoque</td>
                                <td>
                                    <select name="CriarReqEstoque" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.CriarReqEstoque)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Autorizador</td>
                                <td>
                                    <select name="Autorizador" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.Autorizador)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Almoxarifado</td>
                                <td>
                                    <select name="Almoxarifado" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.Almoxarifado)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>


                            @*<tr colspan='2'><td colspan='2'>Assistente de cobrança</td></tr>
                                <tr>
                                    <td>Criar Mod. Email</td>
                                    <td>
                                        <select name="CriarModeloEmail" class="form-control">
                                            @foreach (var option in oValoresValidos)
                                            {
                                                if (option.sValor == group.CriarModeloEmail)
                                                {
                                                    <option value="@option.sValor" selected>@option.sDescricao</option>
                                                }
                                                else
                                                {
                                                    <option value="@option.sValor">@option.sDescricao</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mod. Email</td>
                                    <td>
                                        <select name="ModeloEmail" class="form-control">
                                            @foreach (var option in oValoresValidos)
                                            {
                                                if (option.sValor == group.ModeloEmail)
                                                {
                                                    <option value="@option.sValor" selected>@option.sDescricao</option>
                                                }
                                                else
                                                {
                                                    <option value="@option.sValor">@option.sDescricao</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Assist. Envio</td>
                                    <td>
                                        <select name="AssistEnvio" class="form-control">
                                            @foreach (var option in oValoresValidos)
                                            {
                                                if (option.sValor == group.AssistEnvio)
                                                {
                                                    <option value="@option.sValor" selected>@option.sDescricao</option>
                                                }
                                                else
                                                {
                                                    <option value="@option.sValor">@option.sDescricao</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Clientes</td>
                                    <td>
                                        <select name="Clientes" class="form-control">
                                            @foreach (var option in oValoresValidos)
                                            {
                                                if (option.sValor == group.Clientes)
                                                {
                                                    <option value="@option.sValor" selected>@option.sDescricao</option>
                                                }
                                                else
                                                {
                                                    <option value="@option.sValor">@option.sDescricao</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Criar Grp. Clientes</td>
                                    <td>
                                        <select name="CriarGrpClientes" class="form-control">
                                            @foreach (var option in oValoresValidos)
                                            {
                                                if (option.sValor == group.CriarGrpClientes)
                                                {
                                                    <option value="@option.sValor" selected>@option.sDescricao</option>
                                                }
                                                else
                                                {
                                                    <option value="@option.sValor">@option.sDescricao</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Grp. Clientes</td>
                                    <td>
                                        <select name="GrpClientes" class="form-control">
                                            @foreach (var option in oValoresValidos)
                                            {
                                                if (option.sValor == group.GrpClientes)
                                                {
                                                    <option value="@option.sValor" selected>@option.sDescricao</option>
                                                }
                                                else
                                                {
                                                    <option value="@option.sValor">@option.sDescricao</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Registro. Env. Email</td>
                                    <td>
                                        <select name="RegistroEnvEmail" class="form-control">
                                            @foreach (var option in oValoresValidos)
                                            {
                                                if (option.sValor == group.RegistroEnvEmail)
                                                {
                                                    <option value="@option.sValor" selected>@option.sDescricao</option>
                                                }
                                                else
                                                {
                                                    <option value="@option.sValor">@option.sDescricao</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Relat. Cobranças</td>
                                    <td>
                                        <select name="RelatCobranças" class="form-control">
                                            @foreach (var option in oValoresValidos)
                                            {
                                                if (option.sValor == group.RelatCobranças)
                                                {
                                                    <option value="@option.sValor" selected>@option.sDescricao</option>
                                                }
                                                else
                                                {
                                                    <option value="@option.sValor">@option.sDescricao</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>*@

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="material-icons">save</i></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="material-icons">close</i></button>
                </div>
            </div>
        </form>
    </div>
    foreach (var groups in autorizacoeGrupo)
    {
        <form action="~/Configuracoes/ExcluirGrupo" method="post">
            <div class="modal fade" id="@($"excluir{groups.Code}")" tabindex="-1" role="dialog" aria-labelledby="DeleteGroup" aria-hidden="true">
                <input type="text" class="d-none" name="Codigo" value="@groups.Code" />
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="DeleteGroup">Excluir o Grupo?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Você deseja Excluir o Grupo @groups.Name?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Sim,Excluir Grupo</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
}

@section scripts{


    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-dataTable.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <script>

        function editarGrupo(_btn) {
            console.log("entro func")
            console.log(jQuery(_btn).data('idgrupo'))
            if ($('#editGroup' + jQuery(_btn).data('idgrupo')).hasClass('d-none')) {
                $('#editGroup' + jQuery(_btn).data('idgrupo')).removeClass('d-none')
            } else {
                $('#editGroup' + jQuery(_btn).data('idgrupo')).addClass('d-none')
            }
        }

        $(document).ready(function () {
            var tableUser = $('#tableUser').DataTable({
                "columnDefs": [
                    { "targets": [3], "orderable": false },
                    { "targets": [4], "orderable": false },
                    { "targets": [5], "orderable": false },
                ],
                "info": false,
                "autoWidth": false,
                "paging": false,
                "language": {
                    "lengthMenu": "Display _MENU_ records per page",
                    "zeroRecords": "Nada encontrado",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "search": "Procurar: ",
                    "infoEmpty": "Nenhum dado encontrado",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }
            });
        });

        if ($("#StatusBloqueio").prop('checked')) {

            $("#IsHour").prop('disabled', false)
            $("#DaysOfLock").prop('disabled', false)

        } else {
            $("#IsHour").prop('disabled', true)

            if ($("#IsHour").prop('checked')) {
                $("#IsHour").prop('checked', false)
                $("#HourLock").prop('disabled', true)
                $("#HourLock").val("")
            }

            $("#DaysOfLock").prop('disabled', true)
        }

        function alteraBloqueio() {

            if ($("#IsHour").prop('disabled') && $("#DaysOfLock").prop('disabled')) {

                $("#IsHour").prop('disabled', false)
                $("#DaysOfLock").prop('disabled', false)

            } else {
                $("#IsHour").prop('disabled', true)

                if ($("#IsHour").prop('checked')) {
                    $("#IsHour").prop('checked', false)
                    $("#HourLock").prop('disabled', true)
                    $("#HourLock").val("")
                }

                $("#DaysOfLock").prop('disabled', true)
                $("#DaysOfLock").val("")
            }

        }

        function trocaDisabled() {

            if ($("#HourLock").prop('disabled')) {
                $("#HourLock").prop('disabled', false)
            } else {
                $("#HourLock").prop('disabled', true)
                $("#HourLock").val("")
            }
        }

    </script>

}