﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    int[] dimensions = (int[])TempData["Dimensoes"];

    PowerOne.Models.ConfDocumento configs = (PowerOne.Models.ConfDocumento)TempData["Configs"];
    List<Models.Filiais> filiais = (List<Models.Filiais>)TempData["filiais"];
}

<h1 class="text-center p-5">Configurações do Documento</h1>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}
else if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString()
    </div>
}
else if (TempData["Alert"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["Alert"].ToString()
    </div>
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="ctCusto-tab" data-toggle="tab" href="#ctCusto" role="tab" aria-controls="ctCusto" aria-selected="true">Visibilidade dos Campos</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="cont-tab" data-toggle="tab" href="#cont" role="tab" aria-controls="cont" aria-selected="false">Valores Padrões</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="ctCusto" role="tabpanel" aria-labelledby="ctCusto-tab">
        <h5 class=" p-1 mt-3 text-center">Defina os Centros de custo visíveis: </h5>

        <form action="~/Configuracoes/CtCustoConfig" method="post" class="form-group row">
            <div class="col-md-12 mx-auto row">

                <div class="col-md-8 mx-auto row">
                    <div class="col-md-3 col-sm-4 m-4">
                        <label for="ctCusto1" class="col-md-12 p-5 rounded border border-dark rounded bg-light" style="background-color: #343a40;">
                            <h6 class="text-center">Dimensão 1</h6>
                        </label>
                        <input type="checkbox"
                               name="ctCusto"
                               id="ctCusto1" value="1"
                               @if (dimensions.Contains(1)) { @Html.Raw("checked") } />
                    </div>

                    <div class="col-md-3 col-sm-4 m-4">
                        <label for="ctCusto2" class="col-md-12 p-5 rounded border border-dark rounded bg-light" style="background-color: #343a40;">
                            <h6 class="text-center">Dimensão 2</h6>
                        </label>
                        <input type="checkbox"
                               name="ctCusto"
                               id="ctCusto2"
                               value="2"
                               @if (dimensions.Contains(2)) { @Html.Raw("checked") } />
                    </div>

                    <div class="col-md-3 col-sm-4 m-4">
                        <label for="ctCusto3" class="col-md-12 p-5 rounded border border-dark rounded bg-light" style="background-color: #343a40;">
                            <h6 class="text-center">Dimensão 3</h6>
                        </label>
                        <input type="checkbox"
                               name="ctCusto"
                               id="ctCusto3" value="3"
                               @if (dimensions.Contains(3)) { @Html.Raw("checked") } />
                    </div>

                    <div class="col-md-3 col-sm-4 m-4">
                        <label for="ctCusto4" class="col-md-12 p-5 rounded border border-dark rounded bg-light" style="background-color: #343a40;">
                            <h6 class="text-center">Dimensão 4</h6>
                        </label>
                        <input type="checkbox"
                               name="ctCusto"
                               id="ctCusto4"
                               value="4"
                               @if (dimensions.Contains(4)) { @Html.Raw("checked") } />
                    </div>

                    <div class="col-md-3 col-sm-4 m-4">
                        <label for="ctCusto5" class="col-md-12 p-5 rounded border border-dark rounded bg-light" style="background-color: #343a40;">
                            <h6 class="text-center">Dimensão 5</h6>
                        </label>
                        <input type="checkbox"
                               name="ctCusto"
                               id="ctCusto5"
                               value="5"
                               @if (dimensions.Contains(5)) { @Html.Raw("checked") } />
                    </div>
                </div>


                <div class="row col-md-12 ">
                    <div class="col-md-6 m-auto">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="row p-2">
                                    <button type="submit" class="btn btn-success col-md-12">Salvar</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row p-2">
                                    @Html.ActionLink("Voltar", "Configuracoes", "Home", null, new { @class = "btn btn-outline-primary col-md-12" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="tab-pane fade m-auto " id="cont" role="tabpanel" aria-labelledby="cont-tab">

        <form action="~/Configuracoes/DFPadrao" method="post" class="row">
            @Html.AntiForgeryToken()

            <div class="m-auto row ">
                <h5 class="p-1 my-3 col-12 row text-center">
                    Defina Filial e Depósito Padrões:

                </h5>

                <div class="form-group col-md-6 m-auto">
                    <h6>Filial:</h6>
                    <div class="input-group mb-3 m-auto">
                        <input type="text" class="form-control d-none" id="idFilial" name="idFilial" placeholder="@Html.DisplayFor(model => configs.IdFilial)" readonly>
                        <select name="Filial" class="js-example-basic-single js-states form-control">
                            <option value="@Html.DisplayFor(model => configs.IdFilial)">@Html.DisplayFor(model => configs.Filial)</option>
                            @foreach (var item in filiais)
                            {
                                <option value="@item.BplId">@item.BplName</option>
                            }
                        </select>
                    </div>

                    <div class="modal" tabindex="-1" id="filial-modal" aria-labelledby="" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header text-white bg-dark">
                                    <h5 class="modal-title">Selecione:</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body p-0 scroll max-height-500">
                                    <table class="table table-striped table-hover col-md-12 m-auto ">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Código Filial</th>
                                                <th scope="col">Nome Filial</th>
                                            </tr>
                                        </thead>
                                        <tbody id="lista-tabela-filial">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer m-auto col-12">
                                    <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6 m-auto">
                    <h6>Depósito:</h6>
                    <div class="input-group mb-3 m-auto">
                        <input type="text" class="form-control d-none" id="idDeposito" name="idDeposito" placeholder="@Html.DisplayFor(model => configs.IdDeposito)" readonly>
                        <input type="text" class="form-control" id="pesquisar-deposito" name="Deposito" placeholder="@Html.DisplayFor(model => configs.Deposito)" autocomplete="off" disabled="disabled">
                        <div class="input-group-append">
                            <button id="botao-deposito" class="btn btn-outline-secondary material-icons tiny" type="button" onclick="SearchDeposito()" data-toggle="modal" data-target="#deposito-modal" disabled="disabled">
                                search
                            </button>
                        </div>
                    </div>

                    <div class="modal" tabindex="-1" id="deposito-modal" aria-labelledby="" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header text-white bg-dark">
                                    <h5 class="modal-title">Selecione:</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body p-0 scroll max-height-500">
                                    <table class="table table-striped table-hover col-md-12 m-auto ">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Código Deposito</th>
                                                <th scope="col">Nome Deposito</th>
                                            </tr>
                                        </thead>
                                        <tbody id="lista-tabela-deposito">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer m-auto col-12">
                                    <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row col-md-12">
                    <div class="col-md-6 m-auto">
                        <div class="row col-12">
                            <div class="form-check">
                                @if (!string.IsNullOrEmpty(configs.IdFilial))
                                {
                                    <input class="form-check-input" type="checkbox" value="true" name="ativado">
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" value="true" name="ativado" checked>
                                }
                                <label class="form-check-label" for="flexCheckDefault">
                                    Desativar Filial e depósito padrão
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row p-2">
                                    <button type="submit" class="btn btn-success col-md-12">Salvar</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row p-2">
                                    @Html.ActionLink("Voltar", "Configuracoes", "Home", null, new { @class = "btn btn-outline-primary col-md-12" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts{

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" integrity="sha512-kq3FES+RuuGoBW3a9R2ELYKRywUEQv0wvPTItv3DSGqjpbNtGWVdvT8qwdKkqvPzT93jp8tSF4+oN4IeTEIlQA==" crossorigin="anonymous" />
    <script>

        // botão de ajuda depoósito e filial
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        $('.popover-dismiss').popover({
            trigger: 'focus'
        })

        $('.js-example-basic-single').select2({
            placeholder: 'Select an option'
        });

        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });

        //inicio input filial
        function SearchFilial() {
            var BPLName = $('#pesquisar-filial').val();
            var BPLName = BPLName.toUpperCase()

            $.ajax({
                url: '/BP/SearchFilial',
                type: 'get',
                dataType: 'json',
                data: {
                    'BPLName': BPLName,
                },
                success: function (data) {
                    listarFilial(data);
                },
            });
        }

        function listarFilial(listItens) {
            $('tbody#lista-tabela-filial tr').remove();
            listItens.forEach(function (filial) {
                var row = ""
                row += "<td class='d-none'>" + "<input type='radio' name='item-radio' id='" + filial.BplId + "' onchange='preencherFilial(this);listarDepositos()' value='" + filial.BplName + "' data-bplid='" + filial.BplId + "'></td>";
                row += "<td>" + filial.BplId + "</td>";
                row += "<td>" + filial.BplName + "</td>";

                $('tbody#lista-tabela-filial').append("<tr class='tr tr-click' onclick='fnc(this);' data-tipo='filial' data-id='" + filial.BplId + "'>" + row + "<tr>");
            });
        }

        function preencherFilial(_radio) {
            $('#pesquisar-filial').val(jQuery(_radio).val());
            $('#idFilial').val(jQuery(_radio).data("bplid"));

            $('#filial-modal').modal('toggle');

            disabledDeposito();
        }

        $(document).on('keydown', '#pesquisar-filial', function (tab) {
            if (tab.which == 9 || tab.which == 13) {
                SearchFilial();
                $('#filial-modal').modal('toggle');
            }
        });
        //fim input filial

        //inicio input deposito
        function disabledDeposito() {
            if ($("#pesquisar-deposito").prop('disabled', false)) {
                console.log("oi")
                $("#pesquisar-deposito").prop('disabled', false)
                $("#botao-deposito").prop('disabled', false)
            } else {
                console.log("chau")
                $("#pesquisar-deposito").prop('disabled', true)
                $("#botao-deposito").prop('disabled', true)
            }
        }

        function SearchDeposito() {
            var IdFilial = $('#idFilial').val();

            var DepName = $('#pesquisar-deposito').val();
            var DepName = DepName.toUpperCase()

            $.ajax({
                url: '/Deposito/Search',
                type: 'get',
                dataType: 'json',
                data: {
                    'Filial': IdFilial,
                    'deposito': DepName
                },
                success: function (data) {
                    listarDeposito(data);
                },
            });
        }

        function listarDeposito(listItens) {
            $('tbody#lista-tabela-filial tr').remove();
            listItens.forEach(function (deposito) {
                var row = ""
                row += "<td class='d-none'>" + "<input type='radio' name='item-radio' id='" + deposito.WhsCode + "' onchange='preencherFilial(this);' value='" + deposito.WhsName + "' data-bplid='" + deposito.WhsCode + "'></td>";
                row += "<td>" + deposito.WhsCode + "</td>";
                row += "<td>" + deposito.WhsName + "</td>";

                $('tbody#lista-tabela-deposito').append("<tr class='tr tr-click' onclick='fnc(this)' data-tipo='deposito' data-id='" + deposito.WhsCode + "'>" + row + "<tr>");
            });
        }

        function preencherDeposito(_radio) {
            $('#pesquisar-deposito').val(jQuery(_radio).val());
            $('#idDeposito').val(jQuery(_radio).data("bplid"));
            $('#deposito-modal').modal('toggle');
        }

        $(document).on('keydown', '#pesquisar-deposito', function (tab) {
            if (tab.which == 9 || tab.which == 13) {
                SearchDeposito();
                $('#deposito-modal').modal('toggle');
            }
        });
                //fim input deposito
    </script>
}
