﻿@model PowerOne.Models.Login
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success col-12" role="alert">
        @TempData["Success"].ToString()
    </div>
}

<div class="row no-gutter">
    <!-- The image half -->
    <div class="col-md-6 d-none d-md-flex bg-image">
        <img class="m-auto logo-login col-12" src="~/Content/img/logo-company.png" alt="Logo da Empresa" style="background-size: cover;background-position: center center;" />
    </div>


    <!-- The content half -->
    <div class="col-md-6 bg-light">
        <div class="login d-flex align-items-center py-5">

            <!-- Demo content-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-7 mx-auto">
                        <form action="~/Login/Index" method="post">
                            @Html.AntiForgeryToken()
                            <div class="form-group mb-3">
                                @Html.LabelFor(item => Model.email)
                                @Html.TextBoxFor(item => Model.email, null, new { @class = "form-control rounded-pill border-0 shadow-sm px-4" })
                                @Html.ValidationMessageFor(item => Model.email, String.Empty, new { @class = "text-danger" })
                            </div>
                            <div class="form-group mb-3">
                                @Html.LabelFor(item => Model.Password)
                                @Html.PasswordFor(item => Model.Password, new { @class = "form-control rounded-pill border-0 shadow-sm px-4 text-primary" })
                                @Html.ValidationMessageFor(item => Model.Password, String.Empty, new { @class = "text-danger" })
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                <label for="customCheck1" class="custom-control-label">Lembrar Senha</label>
                            </div>
                            <button type="submit" class="btn btn-dark btn-block text-uppercase mb-2 rounded-pill shadow-sm">
                                Entrar
                            </button>
                            <div class="text-center d-flex justify-content-between mt-4">
                                <p>
                                    <u> @Html.ActionLink("Esqueci minha senha", "RecuperarSenha", "Login", new { @class = "col-md-12 text-center mt-2" })</u>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- End -->

        </div>
    </div><!-- End -->

</div>