﻿@model PowerOne.Models.ViewModel.RecuperarSenhaViewModel 
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <div class="card col-lg-4 col-md-8 col-sm-8 mx-auto my-5 shadow p-5 mb-5 rounded p-3 bg-login">
        <div class="card-body">
            <div class="row">
                <h2 class="text-center col-12 font-weight-bold">Recuperar Senha</h2>
            </div>

            <form action="~/Login/RecuperarSenha" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Digite a seguir o seu Email. </label>
                    <label>Você receberá um email com uma nova senha.</label>
                </div>                

                <div class="row">
                    <div class="form-group col-12">
                        @Html.LabelFor(item => Model.Email)
                        @Html.TextBoxFor(item => Model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(item => Model.Email, String.Empty, new { @class = "text-danger" })
                    </div>

                    <button type="submit" class="btn btn-dark btn-block m-auto">
                        Recuperar Senha
                    </button>
                    <div class="col-md-12 text-center">
                        <a href="~/Login">Login</a>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
