﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string diretorio = ((PowerOne.Models.Login)Session["auth"]).Tema.Icon;
    if (String.IsNullOrEmpty(diretorio))
    {
        diretorio = "PRO";
    }
}

<h1 class="col-12 text-center m-auto mb-4">Solicitações do Almoxarifado</h1>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-4 p-1">
            <a href="~/Almoxarifado/Index?Tipo=3" class="card-link text-dark">
                <div class="cardnosso bg-light">
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Solicitações Aprovadas</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/SoliAprov.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 p-1">
            <a href="~/Almoxarifado/Index?Tipo=4" class="card-link text-dark">
                <div class="cardnosso bg-light">
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Solicitações Em Curso</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/SoliEm.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 p-1">
            <a href="~/Almoxarifado/Index?Tipo=5" class="card-link text-dark">
                <div class="cardnosso bg-light">
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Solicitações<br> Aguardando Retirada e Concluidas </h5>
                        </div>
                        <img src="~/Content/img/@diretorio/SoliConc.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

