﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Estoque";

    string diretorio = ((PowerOne.Models.Login)Session["auth"]).Tema.Icon;
    if (String.IsNullOrEmpty(diretorio))
    {
        diretorio = "PRO";
    }

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;
}

<h1 class="text-center p-5">Estoque</h1>

<div class="container">
    <div class="row">

        @if (autorizacoes.CriarReqEstoque != "N" || autorizacoes.Grupo.CriarReqEstoque != "N")
        {
            <div class="col-md-4 p-1">
                <a href="~/Estoque/Create" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Solicitação de Material e Equipamento</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/add-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                        @*<p class="cardnosso-sub">Adicione um Requerimento de Estoque</p>*@
                        <h1 class="card-element">@TempData["estoque"].ToString()</h1>
                        <p class="cardnosso-sub">Solicitações nos últimos 7 dias</p>
                    </div>
                </a>
            </div>
        }

        @if ((autorizacoes.ReqEstoque != "N" || autorizacoes.Grupo.ReqEstoque != "N") && autorizacoes.Autorizador == "N")
        {
            <div class="col-md-4 p-1">
                <a href="~/Estoque/Index?tipo=1" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Lista de Requisições em Aberto</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/openBox.svg" class="img-icon" alt="ícone exibir requisições" />

                    </div>
                </a>
            </div>
        }

        @if ((autorizacoes.ReqEstoque != "N" || autorizacoes.Grupo.ReqEstoque != "N") && autorizacoes.Autorizador != "N")
        {
            <div class="col-md-4 p-1">
                <a href="~/Aprovacao/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Aprovação</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/aprov.svg" class="img-icon" alt="ícone aprovação" />

                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.ReqEstoque != "N" || autorizacoes.Grupo.ReqEstoque != "N")
        {
            <div class="col-md-4 p-1">
                <a href="~/Estoque/Index?tipo=0" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Requisições Processadas</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/processada.svg" class="img-icon" alt="ícone aprovação" />

                    </div>
                </a>
            </div>
        }

    </div>
</div>


