﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Overview";

    PowerOne.Models.Login login = (PowerOne.Models.Login)Session["auth"];

    Models.ItemEstoque topItemMesAtual = (Models.ItemEstoque)TempData["topItemMesAtual"];
    Models.ItemEstoque topItemMesAnterior = (Models.ItemEstoque)TempData["topItemMesAnterior"];
}

<div class="container p-0">

    <h6>Usuário: @login.User.Replace("."," ") - Grupo: @login.Autorizacoes.Grupo.Name</h6>

    <div class="row">
        <div class="col-12 pb-4">

            <h3 class="text-center p-3"> Pesquisar Módulos</h3>

            <form class="row">
                <div class="input-group  col-md-8 mx-auto">
                    <input autofocus class="form-control" id="pesquisa" type="search" aria-label="Search" style="border-right: none;">
                    <div class="input-group-append">
                        <div class="input-group-text " style="background-color: #FFF"><i class="material-icons">search</i></div>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="row justify-content-center max-height-250">
        <div class="col-md-8 col-sm-10">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@section scripts{

    <script>
        const labels = [
            'Anterior: @topItemMesAtual.ItemCode - @Html.Raw(topItemMesAtual.ItemName)',
            'Atual: @topItemMesAnterior.ItemCode - @Html.Raw(topItemMesAnterior.ItemName)',
        ];
        const data = {
            labels: labels,
            datasets: [{
                label: 'Top Item solicitado no mês',
                data: [
                    @topItemMesAnterior.Pedido,
                    @topItemMesAtual.Pedido
                ],
                backgroundColor: [
                    'rgb(164, 23, 26, 0.8)',
                    'rgb(244, 151, 26, 0.8)'
                ],
                borderColor: [
                    'rgb(164, 23, 26)',
                    'rgb(244, 151, 26)'
                ],
                borderWidth: 3
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        };
        moment.locale('pt-BR');

        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

    </script>

    <script type="text/javascript">

        var pages = [
            /*estoque*/
            { label: "Criar Estoque - Estoque", url: "./RequerimentoEstoque/Create" },
            { label: "Exibir Estoque- Estoque", url: "./RequerimentoEstoque/Index" },
            /*Almoxarifado*/
            { label: "Criar Estoque - Estoque", url: "./Almoxarifado/Details" },
            { label: "Exibir Estoque- Estoque", url: "./Almoxarifado/Index" },
            /*Aprovacao*/
            { label: "Exibir Estoque- Estoque", url: "./Aprovacao/Index" },
            /*Configracoes*/
            { label: "Configurar Email - Configurações", url: "./Configuracoes/Email" },
            { label: "Temas - Configurações", url: "./Configuracoes/Temas" },
            { label: "Autorizações - Configurações", url: "./DocConfig/Autorizacoes" },
            { label: "Configurações do Documento - Configurações", url: "./DocConfig/DocConfig" },
            { label: "Alterar Senha - Configurações", url: "./Login/AlterarSenha" }
        ];

        $("#pesquisa").autocomplete({
            source: pages,
            select: function (event, page) {
                window.open(page.item.url)
            }
        });

    </script>

}